body{
  background-color: #f9f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container{
  width: 1000px;
  min-height: 500px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px dimgray;
  padding: 30px 25px;
}
.site-form{
  width: 100%;
  display: flex;
}
.input{
  outline: none;
  border-radius: 5px;
  border: none;
  border: 1px solid gray;
  font-size: 18px;
  padding: 5px 7px;
  width: 100%;

}
.input:focus{
  box-shadow: 0px 0px 8px 3px dodgerblue;
  border: 1px solid dodgerblue;
}
.task-category{
  margin: 10px 0;
  display: flex;
}
.category-links{
  font-size: 18px;
  text-decoration: none;
  color: dodgerblue;
  cursor: pointer;
}
.category-links:hover{
  color: rgb(26, 114, 202);
}
.category-links+.category-links{
  margin-left: 15px;

}

.tasks{
  padding: 0px 8px;
  display: flex;
  background-color: #f9f7f7;
  margin-bottom: 5px;
}
.checkbox{
  width: 18px;
  margin-right: 10px;
}
.todo-title{
  font-size: 18px;
}